body{
    background-color: #1c0e57;
}
.cabecera{
    background-color: #301891e1;
    box-shadow: #000 0px 0px 10px;
    text-align: center;
    /*fijar cabecera*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.titulo{
    color:azure !important;
    
    font-size: 30px;
    font-family: 'Electrolize', sans-serif;
    padding-left: 10px;
}
.nav-link{
    font-family: 'Electrolize', sans-serif;
    font-size: 20px;
}
.nav-link:hover{
    text-decoration: underline 4px azure ;
    /*border-bottom: 3px solid;
    border-inline-end: #000;
    border-bottom: 1px solid;*/
}

.toast{
    border-radius: 10px;
    
}
.toast-header{
    background-color: rgb(30,40,45,0.85) !important;
    color: azure;
    background-clip:unset;
}
.toast-body{
    /*background-color: rgba(30, 40, 45, 0.466) !important;*/
    color:azure;
    font-size: 16px;
}

.presentacion{
    /*ocupar toda la pantalla*/
    height: 100vh;
    padding-top: 8%;
    background-image: url('../img/fondo-presentacion.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.presentacion .container{
    backdrop-filter: blur(12px);
    border-radius: 15px;
    box-shadow: #ffffff 0px 0px 5px;
}
.presentacion h3{
    font-size: 36px;
    font-family: 'Electrolize', sans-serif;
    color: azure;
}

.saludo{
    color:azure !important;
    font-size: 50px;
    font-family: 'Electrolize', sans-serif;
    padding-top: 20px;
}

.nombre{
    display: block;
    color:azure !important;
    font-size: 75px;
    font-family: 'Nanum Gothic Coding', monospace;
    height: auto;
    
    white-space: nowrap;
    border-right: 3px solid;

    width: 13ch;
    animation: typing 3s steps(13),
blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from {width: 0;}
}

@keyframes blink{
    50% {border-color: transparent;}
}

@media screen and (max-width: 768px){
    .presentacion{
        padding-top: 20%;
    }
    .presentacion .container{
        padding: 3% !important;
        margin: 1% !important;
        width: auto;
    }
    .nombre{
        margin-top: 20%;
        font-size: 43px !important;
        height: auto;
    }
    .saludo{
        font-size: 37px;
        width: 100%;
    }
    .descripcion{
        font-size: 16px !important;
        width: 100% !important;
    }
    .habilidades .row .col-11{
        width: 100%;
    }
    #formulario .col-4{
        width: 100%;
        padding-bottom: 15px;
    }
    #formulario .col-8{
        width: 100%;
        padding-bottom: 15px;
        
    }
}
    
.descripcion{
    display: block;
    padding-top: 2%;
    width: 90%;
    font-size: 24px;
    color: azure;
    font-family: 'Electrolize', sans-serif;
}
.botonredes a{
    padding-top: 2%;
    text-decoration: none;
}
.botonredes button:hover{
    background-color: #ffffff6e;
}
.botonredes button:focus{
    box-shadow: none;
    
}
.habilidades{
    color: azure;
    font-family: 'Electrolize', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    /*texto en italica*/
    font-style: italic;
}
/*imagenes*/
.profile img{
    /*centrar imagen*/
    border: #ffffff solid;
    border-radius: 50%;
}

.habilidades h2{
    font-size: 55px;
    padding-top: 2%;
}

.habilidades .row{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #f0ffff4d;
    border-radius: 15px;
    margin-top: 15px;
}
.habilidades .iconify {
    filter: drop-shadow(0 0 3px #3a3a3aa9);
}

.parpadeo{
    background-color: #ffffff;
    box-shadow: #ffffff 0px 0px 50px;
    border-radius: 50%;

    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.proyectos{
    color: azure;
    font-family: 'Electrolize', sans-serif;
    padding-top: 2%;
    font-style: italic;
}
.proyectos h2{
    font-size: 55px;
    padding-top: 2%;
}
.proyectos h3{
    font-size: 35px;
}
.proyectos .row{
    padding-bottom: 20px;
    background-color: #dddddd46;
    border-radius: 10px;
    margin-top: 2%;
    color: #1c0e57;
}

.contacto{
    color: azure;
    font-family: 'Electrolize', sans-serif;
    padding-top: 2%;
    font-style: italic;
}
.contacto h2{
    font-size: 55px;
    padding-top: 2%;
}
.contacto h3{
    font-size: 35px;
}
.footer{
    background-color: #1a162b;
    color: azure;
    font-family: 'Electrolize', sans-serif;
    padding-top: 2%;
    padding-bottom: 10px;
    font-style: italic;
    text-align: center;
    width: 100%;
}
.micomunidad .iconify{
    padding-right: 5px;
    padding-top: 5px;

}
@media screen and (max-width: 768px){
    .footer{
        padding-top: 5%;
        font-size: 18px;
        padding-bottom: 5%;
    }
}
    